# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
*.cmake
*.check_cache
*.log
*.make
*.ts
*.rsp
Default-proj/build/CMakeFiles/default-proj.dir/link.txt
Default-proj/build/CMakeFiles/default-proj.dir/src/main.cpp.o.d
Default-proj/build/CMakeFiles/progress.marks
Default-proj/build/CMakeFiles/TargetDirectories.txt
*.marks
WebImGui/build/CMakeFiles/TargetDirectories.txt
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/backends/imgui_impl_glfw.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/backends/imgui_impl_opengl3.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/imgui.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/imgui_demo.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/imgui_draw.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/imgui_tables.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/home/ha6ki/DEV/imgui/imgui_widgets.cpp.o.d
WebImGui/build/CMakeFiles/WebImGui.dir/link.txt
WebImGui/build/CMakeFiles/WebImGui.dir/src/main.cpp.o.d
WebImGui/data/VTKSDURA.ttf
WebImGui/data/xkcd-script.ttf
WebImGui/data/Minecraft-Regular.otf
Default-proj/build/CMakeCache.txt
WebImGui/build/CMakeCache.txt
